body {
  background-color: #ff0000;
  font-family: 'Ubuntu', sans-serif;
}

svg {
  display: block;
  height: 60vh;
  margin: 0 auto;
  transform-origin: center center;
  transition: transform 0.35s ease-in-out;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

a {
  color: #808080;
  text-decoration: none;
}

a:hover, a:focus {
  color: #fff;
}

